$primary: #4C7E85;
$accent: #DE425B;
$gray: #f6f6f6;
$purple: #3F3D54;
$shadow-all-sides: 0px 2px 16px rgba(164, 178, 181, 0.5);
$font-family-sans-serif: 'Montserrat', sans-serif;


// GENERIC STYLES

html {
  scroll-behavior: smooth;
}

a.link-accent {
  color: $accent;

  &:hover, &:active, &:focus {
    color: darken($accent, 10%);
  }
}

.btn.btn-primary:active, .btn.btn-primary:focus {
  background-color: darken($primary, 10%) !important;
  border-color: darken($primary, 10%) !important;
}

.main-cta {
  border-width: 2px;
  background: $primary;
  border-color: $primary;
  color: $white;
  transition: 0.3s all ease;
  box-shadow: $shadow-all-sides;

  &:hover, &:active {
    color: $white;
    background: darken($primary, 8%);
    border-color: darken($primary, 8%);
  }
}

.site-wrap {
  overflow: hidden;
}

//#3f3d54

// SECTIONS

.site-banner {
  height: 80px;
  display: flex;
  align-items: center;

  .site-logo {
    height: 42px;
  }
}

.site-cover {
  overflow: hidden;
  padding-top: 24px;
  height: auto!important;
  display: flex;
  align-items: center;

  h1 {
    font-size: 48px!important;
    color: $black;
    font-weight: 900;
  }

  .title-highlight {
    color: $accent;
  }

  .hero-image {
    width: 100%;
  }
}

@include media-breakpoint-up(lg) {
  .site-cover {
    height: calc(100vh - 80px)!important;
    max-height: 800px;

    .hero-image {
      width: 110%;
    }
  }
}

.highlight-box {
  border-radius: 20px;
  padding: 30px;
  transition: .3s all ease;
  position: relative;
  top: 0;
  text-align: center;
  padding-top: 50px;
  font-weight: 300;
  box-shadow: $shadow-all-sides;
  height: 100%;

  .highlight-box-icon {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: -50px;
    .icon-wrap {
      width: 80px;
      height: 80px;
      position: relative;
      border-radius: 50%;
      display: inline-block;
      background-color: $primary;
      box-shadow: 0 4px 20px -5px rgba($primary, .4);
      span {
        font-size: 2rem;
        position: absolute;
        top: 50%;
        color: $white!important;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  h3 {
    font-size: 24px;
    color: $black;
    font-weight: 400;
  }
  .highlight{
    font-size:18px;
    color: $black;
    font-weight: 400;
  }
  &:hover {
    top: -7px;
  }
}

.feature-steps .step-container {
  position: relative;

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  .icon-wrap {
    position: absolute;
    left: 100%;
    top: 50%;
    font-size: 12px;
    transform: translate(-50%, -50%);
  }
}

@include media-breakpoint-up(sm) {
  .feature-steps .step-container {
    h3 {
      font-size: 24px;
    }
    p {
      font-size: 16px;
    }
    .icon-wrap {
      font-size: 32px;
    }
  }
}

.hero-video {
  box-shadow: $shadow-all-sides;
  max-width: 100%;
  border-radius: 20px;
}

.cta-container {
  border-radius: 20px;
  box-shadow: $shadow-all-sides;
  overflow: hidden;

  .img-fluid {
    border-radius: 20px 0px 0px 0px;
  }

  .cta-header {
    margin-left: 0px;
    margin-right:0px;
    border-radius: 20px 20px 0 0;
  }

  .form-control {
    border-radius: 20px!important;
    padding: 12px 20px;
  }
}

.sponsor-image {
  height: 120px;
}
